body{
    background-color: black;
    color:silver;
    margin: 1 auto;
    font-family: 'Roboto Mono', monospace;
    align-content: center;
}
.mobilehead{
    background-color: darkslategrey;
    text-align: center;
}

@media screen and (min-width: 576px) {
    body {
        font-size: larger;
        /* background-color: red; */
    }
}
@media screen and (min-width: 992px) {
    body {
        /* background-color: aqua; */
        display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    }
    .projectsSide {
    
        grid-column: 2;
        grid-template-rows: 1;
        
        /* flex-direction: column; */
        background-color: rgb(32,32,32)
        
    }
   
}
/* 
.flexbox {

    display: flex;
    flex-direction: column;
} */
/* 
#dropdown {
    
} */

#shown {
    display: contents;
}

/* ul {
    display: none;
} */

#hid {
 display: none;
}


.mobilehead {
  
    background-image: url("banner.jpeg");
    background-size: cover;
    opacity: .5;
    color: white;
}





.switch1 {
    display:flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    flex: auto;
    font-size: x-large;
}

#onoff2 {
    text-align: center;
    color: red;
}
#onoff1 {
    text-align: center;
    color: greenyellow
}

.list1 {
    list-style:none;
    text-align: center;
    margin: auto;
    margin-right: 10%;
    
    
}

.projectItem1 {
    display: none;
    text-align: center;
    list-style:none;
    margin: auto;
    margin-right: 10%;
}

.projectItem2 {
    display: none;
    text-align: center;
    list-style:none;
    margin: auto;
    margin-right: 10%;
}

.projectItem3 {
    display: none;
    list-style:none;
    text-align: center;
    margin: auto;
    margin-right: 10%;
}

.switch2 {
    display:flex;
    justify-content: space-around;
    
}
/*
.switch3 {
    display:inline-flex
}

.switch4 {
    display:inline-flex
    
} */

#onoff3{
    text-align: center;
    color: greenyellow;
}
#onoff4 {
    text-align: center;
    color: red
}

#onoff5{
    text-align: center;
    color: greenyellow;
}
#onoff6 {
    text-align: center;
    color: red
}

#onoff7{
    text-align: center;
    color: greenyellow;
}
#onoff8 {
    text-align: center;
    color: red
}

.projectImage1 {
    display: block;
    align-self: center;
    width:65%; 
    height: auto;
    margin: auto;
    margin-bottom: 10%;

}

.projectImage2 {
    display: block;
    align-self: center;
    width:65%; 
    height: auto;
    margin: auto;
    margin-bottom: 10%;

}

.projectImage3 {
   display: block;
    align-self: center;
    width:65%; 
    height: auto;
    margin: auto;
    margin-bottom: 10%;
}
.button {
    font-size: large;
}
.projectIntro{
    text-align: center;
   
    margin: 10%
}
#name {
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
#email {
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
#topic {
    display: block;
    margin: auto;
}

.label {
    text-align: center;
    margin-left: 100px;
}
.submit {
    display: block;
    margin: auto;
}