body{
    background-color: black;
    color:silver;
    margin: 1 auto;
}
.mobilehead{
    background-color: darkslategrey;
    text-align: center;
}

@media screen and (min-width: 576px) {
    body {
        background-color: red;
    }
}
@media screen and (min-width: 992px) {
    body {
        background-color: aqua;
    }
}

.flexbox {

    display: flex;
    flex-direction: column;
}

#dropdown {
    display: none;
}